# Arduino build artifacts
build/
*.hex
*.elf
*.bin
*.o
*.d
*.tmp

# Arduino IDE
*.orig
*.rej

# PlatformIO (if you migrate later)
.pio/
.pioenvs/
.piolibdeps/

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db
